@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'rebus';
  src: url("../fonts/rebus.eot?fil5g4");
  src: url("../fonts/rebus.eot?fil5g4#iefix") format("embedded-opentype"), url("../fonts/rebus.ttf?fil5g4") format("truetype"), url("../fonts/rebus.woff?fil5g4") format("woff"), url("../fonts/rebus.svg?fil5g4#rebus") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="reb-"], [class*=" reb-"] {
  font-family: 'rebus' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.reb-arrows:before {
  content: "";
}

.reb-bag:before {
  content: "";
}

.reb-cart:before {
  content: "";
}

.reb-cloud:before {
  content: "";
}

.reb-db:before {
  content: "";
}

.reb-house:before {
  content: "";
}

.reb-mobile:before {
  content: "";
}

.reb-screen:before {
  content: "";
}

.reb-set-alt:before {
  content: "";
}

.reb-spanner:before {
  content: "";
}

.reb-star:before {
  content: "";
}

.reb-ul:before {
  content: "";
}

.reb-faq-arrow:before {
  content: "";
}

.reb-check:before {
  content: "";
}

.reb-left-sm:before {
  content: "";
}

.reb-right-sm:before {
  content: "";
}

.reb-left:before {
  content: "";
}

.reb-right:before {
  content: "";
}

.reb-gear:before {
  content: "";
}

@font-face {
  font-family: 'Pf Med';
  src: url("../fonts/PfDinMedium.eot");
  src: local("тШ║"), url("../fonts/PfDinMedium.woff") format("woff"), url("../fonts/PfDinMedium.ttf") format("truetype"), url("../fonts/PfDinMedium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pf Reg';
  src: url("../fonts/PfDinRegular.eot");
  src: local("тШ║"), url("../fonts/PfDinRegular.woff") format("woff"), url("../fonts/PfDinRegular.ttf") format("truetype"), url("../fonts/PfDinRegular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pf Light';
  src: url("../fonts/PfDinLight.eot");
  src: local("тШ║"), url("../fonts/PfDinLight.woff") format("woff"), url("../fonts/PfDinLight.ttf") format("truetype"), url("../fonts/PfDinLight.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
html {
  min-height: 100%;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  min-height: 100%;
}

.animate, a {
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clear:after {
  display: block;
  content: "";
  clear: both;
}

.clear.mob {
  display: none;
}
@media screen and (max-width: 800px) {
  .clear.mob {
    display: block;
  }
}

.mob {
  display: none;
}
@media screen and (max-width: 800px) {
  .mob {
    display: block;
  }
}

.h1, h1 {
  font-family: "Pf Med";
  font-size: 40px;
  line-height: 1.1;
  color: #7a7a7a;
  margin-bottom: 28px;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .h1, h1 {
    font-size: 35px;
  }
}

p {
  font: 400 16px/24px "Open Sans", Arial, sans-serif;
  color: #7a7a7a;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.wrapper {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  min-height: 100vh;
  min-width: 320px;
}

.main {
  /*flex:1;*/
  width: 100%;
}

.content {
  max-width: 1128px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.grey-back {
  background: #eaedee;
}

.center {
  text-align: center;
}

.btn-empty {
  display: inline-block;
  vertical-align: top;
  color: #fff;
  font-family: Arial;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0 11px;
  border: 3px solid #fff;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  text-decoration: none;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.btn-empty:hover {
  background: #fff;
  color: #000;
}

.btn-orange {
  display: inline-block;
  vertical-align: top;
  border: 2px solid #cdd2d5;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: #f9a526;
  color: #fff;
  font-family: "Pf Med";
  font-size: 30px;
  line-height: 32px;
  font-weight: 700;
  text-shadow: 2px 0px 1px rgba(68, 26, 26, 0.4);
  padding: 15px 26px;
  text-decoration: none;
  text-transform: uppercase;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
@media screen and (max-width: 800px) {
  .btn-orange {
    font-size: 24px;
    padding: 10px 7px;
  }
}
.btn-orange:hover {
  background: #ffa500;
  border-color: #ffa500;
}

.slick-dots li {
  margin: 0 4px;
  height: 13px;
  width: 13px;
}
.slick-dots li button {
  height: 13px;
  width: 13px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #d3d3d3;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.slick-dots li button:before {
  display: none;
}
.slick-dots li button:hover {
  background: #7a9bb2;
}
.slick-dots li.slick-active button {
  background: #7a9bb2;
}

.layout {
  display: none;
  position: fixed;
  left: 0;
  top: -100px;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.3);
}
@media screen and (min-width: 801px) {
  .layout {
    display: none !important;
  }
}

.top-banner {
  padding: 112px 0;
}

/*========= Header =========*/
.header {
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  -ms-align-self: flex-start;
  align-self: flex-start;
  width: 100%;
  padding: 45px 0 17px;
  background: #8698a4;
  position: relative;
  z-index: 3;
}
@media screen and (max-width: 800px) {
  .header .content {
    padding: 0 14px;
  }
}
.header:before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  right: 0;
  height: 12px;
  background: rgba(0, 0, 0, 0.29);
}
.header .logo {
  display: block;
  float: left;
}
.header .logo img {
  display: block;
  max-width: 161px;
}
.header .logo img + img {
  margin-top: 10px;
}

.main-nav {
  float: right;
}
@media screen and (min-width: 801px) {
  .main-nav {
    display: block !important;
  }
}
@media screen and (max-width: 800px) {
  .main-nav {
    float: none;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% - 14px);
    background: #8698a4;
    padding: 14px;
  }
  .main-nav:before {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.29);
  }
}
.main-nav > li {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
@media screen and (max-width: 800px) {
  .main-nav > li {
    background: #55626b;
    display: block;
  }
}
.main-nav > li:after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  height: 0px;
  background: transparent;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
@media screen and (max-width: 800px) {
  .main-nav > li:after {
    right: 100%;
    height: 4px;
  }
}
.main-nav > li:hover:after {
  height: 4px;
  background: #a4de59;
}
@media screen and (max-width: 800px) {
  .main-nav > li:hover:after {
    right: 0;
  }
}
.main-nav > li + li {
  margin-left: 35px;
}
@media screen and (max-width: 800px) {
  .main-nav > li + li {
    margin-left: 0px;
    margin-top: 4px;
  }
}
.main-nav a {
  color: #fff;
  font-family: "Pf Reg";
  font-size: 17px;
  line-height: 29px;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 3px 0;
}
@media screen and (max-width: 800px) {
  .main-nav a {
    font-size: 18px;
    line-height: 40px;
    padding: 2px 13px;
  }
}
.main-nav .main-nav-contact {
  margin-left: 16px;
  position: static;
}
@media screen and (max-width: 800px) {
  .main-nav .main-nav-contact {
    text-align: center;
    position: relative;
    margin: 13px auto 0;
    background: transparent;
  }
}
.main-nav .main-nav-contact:after {
  display: none;
}
.main-nav .main-nav-contact:hover:after {
  display: none;
}
.main-nav .main-nav-contact a {
  padding: 0 14px;
}
@media screen and (max-width: 800px) {
  .main-nav .main-nav-contact a {
    line-height: 29px;
    display: inline-block;
    vertical-align: top;
    min-width: 116px;
  }
}

.sub-menu {
  position: relative;
}
.sub-menu:hover .main-nav-sub {
  display: block;
  /*!!!!!!!!!!!!!! What to do with sub-drop-down mobile !!!!!!!!!!!!!!!*/
}
@media screen and (max-width: 800px) {
  .sub-menu:hover .main-nav-sub {
    display: none;
  }
}

.main-nav-sub {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px 0;
  background: #fff;
}
.main-nav-sub li {
  display: block;
  padding: 3px 17px;
  min-width: 197px;
}
.main-nav-sub a {
  color: #7a7a7a;
  font-family: "Pf Reg";
  font-size: 17px;
  line-height: 1.2;
}
.main-nav-sub a:hover {
  color: #a4de59;
}

.mob-btn {
  display: none;
  float: right;
  width: 58px;
  height: 44px;
  background: transparent;
  padding: 19px 11px 20px;
  -moz-appearance: none;
  -webkit-appearance: none;
}
@media screen and (max-width: 800px) {
  .mob-btn {
    display: block;
  }
}
.mob-btn:hover div {
  background: #a4de59;
}
.mob-btn:hover div:before, .mob-btn:hover div:after {
  background: #a4de59;
}
.mob-btn.active div {
  background: transparent;
}
.mob-btn.active div:before, .mob-btn.active div:after {
  -moz-transition-delay: 0s, 0.3s;
  -o-transition-delay: 0s, 0.3s;
  -webkit-transition-delay: 0s, 0.3s;
  transition-delay: 0s, 0.3s;
}
.mob-btn.active div:before {
  top: 0px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.mob-btn.active div:after {
  bottom: 0px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.mob-btn div {
  text-indent: -9999px;
  height: 5px;
  display: block;
  background: #fff;
  position: relative;
  -moz-transition: background 0.3s 0s;
  -o-transition: background 0.3s 0s;
  -webkit-transition: background 0.3s;
  -webkit-transition-delay: 0s;
  transition: background 0.3s 0s;
}
.mob-btn div:before, .mob-btn div:after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  height: 5px;
  z-index: 1;
  background: #fff;
  -moz-transition-delay: 0.3s, 0s, 0s;
  -o-transition-delay: 0.3s, 0s, 0s;
  -webkit-transition-delay: 0.3s, 0s, 0s;
  transition-delay: 0.3s, 0s, 0s;
  -moz-transition-duration: 0.3s, 0.3s, 0.3s;
  -o-transition-duration: 0.3s, 0.3s, 0.3s;
  -webkit-transition-duration: 0.3s, 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s, 0.3s;
}
.mob-btn div:before {
  top: -9px;
  -moz-transition-property: top, -moz-transform, background;
  -o-transition-property: top, -o-transform, background;
  -webkit-transition-property: top, -webkit-transform, background;
  transition-property: top, transform, background;
}
.mob-btn div:after {
  bottom: -9px;
  -moz-transition-property: bottom, -moz-transform, background;
  -o-transition-property: bottom, -o-transform, background;
  -webkit-transition-property: bottom, -webkit-transform, background;
  transition-property: bottom, transform, background;
}

/*==========================================*/
/*===================== OUR PROCESS =======================*/
/*============ Internal content ============*/
.main-content {
  padding: 40px 0;
}
@media screen and (max-width: 800px) {
  .main-content {
    padding: 29px 0 49px;
  }
}
.main-content p {
  line-height: 23px;
}
.main-content .title-bottom {
  font-family: "Pf Reg";
  font-size: 50px;
  line-height: 1.1;
  color: #7a7a7a;
  margin-bottom: 42px;
}
@media screen and (max-width: 450px) {
  .main-content .title-bottom {
    font-size: 35px;
    margin-bottom: 0;
  }
}
.main-content .title-bottom a {
  color: #63bb27;
  font-family: "Pf Reg";
  font-size: 50px;
  line-height: 1.1;
  text-decoration: none;
  position: relative;
}
@media screen and (max-width: 450px) {
  .main-content .title-bottom a {
    font-size: 35px;
  }
}
.main-content .title-bottom a:after {
  position: absolute;
  display: block;
  content: '';
  bottom: 1px;
  left: 0px;
  right: 0px;
  height: 4px;
  background: #63bb27;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.main-content .title-bottom a:hover:after {
  background: transparent;
}
.main-content .img-bottom {
  max-width: 910px;
}
@media screen and (max-width: 450px) {
  .main-content .img-bottom {
    display: none;
  }
}

/*============= Our Process ===============*/
.process-wrap {
  -webkit-flex-direction: column;
  flex-direction: column;
  padding: 37px 0 40px;
}
@media screen and (max-width: 800px) {
  .process-wrap {
    padding: 38px 0 21px;
  }
}
.process-wrap .step-wrapper {
  background: #eaedee;
  padding: 18px 0 40px;
}
@media screen and (max-width: 800px) {
  .process-wrap .step-wrapper {
    padding: 22px 0 30px;
  }
}
.process-wrap .step-wrapper:nth-child(even) {
  background: #fff;
}
.process-wrap .step-wrapper .content {
  -webkit-justify-content: center;
  justify-content: center;
}
.process-wrap .step-wrapper .step, .process-wrap .step-wrapper .svg-img {
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-content: space-around;
  align-content: space-around;
}
.process-wrap .step-wrapper .step {
  width: 49%;
  margin-right: 1%;
  padding: 4px 0 4px;
}
@media screen and (max-width: 800px) {
  .process-wrap .step-wrapper .step {
    padding: 0;
    text-align: center;
    width: 100%;
    margin: 0;
  }
}
.process-wrap .step-wrapper .svg-img {
  width: 49%;
  margin-left: 1%;
}
@media screen and (max-width: 800px) {
  .process-wrap .step-wrapper .svg-img {
    display: none;
  }
}
.process-wrap .step-wrapper .svg-img img {
  display: block;
  height: 455px;
}
.process-wrap .step-num {
  color: #7a7a7a;
  font-family: "Pf Reg";
  font-size: 48px;
  line-height: 1.1;
  margin-bottom: 30px;
}
@media screen and (max-width: 800px) {
  .process-wrap .step-num {
    margin-bottom: 19px;
  }
}
.process-wrap .title {
  color: #63bb27;
  font-family: "Pf Reg";
  font-size: 35px;
  line-height: 1.1;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.process-wrap p {
  margin-bottom: 28px;
}
@media screen and (max-width: 800px) {
  .process-wrap p:last-child {
    text-align: center;
  }
}
.process-wrap .sub-title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: #7a7a7a;
  margin-bottom: 5px;
}

/*==================== Service page ==================*/
.service-list {
  text-align: center;
  margin-bottom: 46px;
}
.service-list li {
  display: inline-block;
  vertical-align: top;
}
@media screen and (max-width: 800px) {
  .service-list li {
    display: block;
  }
}
.service-list li + li {
  margin-left: 36px;
}
@media screen and (max-width: 800px) {
  .service-list li + li {
    margin: 0 0 2px;
  }
}
.service-list a {
  display: inline-block;
  vertical-align: top;
  color: #68767f;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Pf Med";
  font-size: 17px;
  line-height: 1.1;
}
@media screen and (max-width: 800px) {
  .service-list a {
    padding: 8px 0;
  }
}
.service-list a:hover {
  text-decoration: underline;
}

.packages {
  padding: 43px 0 41px;
  -webkit-justify-content: center;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  .packages {
    -webkit-flex-direction: column;
    flex-direction: column;
    padding-bottom: 0;
  }
}
.packages .col-2 {
  width: 49%;
}
@media screen and (max-width: 800px) {
  .packages .col-2 {
    width: 100%;
  }
}
.packages .col-2 + .col-2 {
  margin-left: 2%;
}
@media screen and (max-width: 800px) {
  .packages .col-2 + .col-2 {
    margin: 50px 0 0;
  }
}
.packages .item {
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  position: relative;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  padding: 22px 0 13px;
  min-height: 700px;
  /*IE FIX*/
}
@media screen and (max-width: 1030px) {
  .packages .item {
    min-height: 790px;
    /*IE FIX*/
  }
}
@media screen and (max-width: 800px) {
  .packages .item {
    text-align: center;
    padding: 0;
    min-height: auto;
    /*IE FIX*/
  }
}
.packages .item .title {
  margin: 0 80px 17px;
  font-family: "Pf Reg";
  font-size: 45px;
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 800px) {
  .packages .item .title {
    margin: 0 0 13px;
  }
}
.packages .item p {
  color: #7a7a7a;
  font-weight: 600;
  margin: 0 18px 20px 90px;
}
@media screen and (max-width: 800px) {
  .packages .item p {
    margin: 0 0 35px;
  }
}
.packages .item ul {
  flex: 1;
  margin: 0 18px 13px;
}
@media screen and (max-width: 800px) {
  .packages .item ul {
    flex: 0;
    min-height: 424px;
    /*IE FIX*/
    margin: 0 0 19px;
  }
}
.packages .item ul li {
  padding: 19px 5px 16px 73px;
  position: relative;
  font-weight: 600;
  font-size: 17px;
  line-height: 1.2;
  color: #7a7a7a;
}
@media screen and (max-width: 800px) {
  .packages .item ul li {
    padding: 16px 5px;
    border-bottom: 1px solid #eaedee;
  }
}
.packages .item ul li + li {
  border-top: 1px solid #eaedee;
}
@media screen and (max-width: 800px) {
  .packages .item ul li + li {
    border-top: none;
  }
}
.packages .item ul li:before {
  position: absolute;
  display: block;
  content: "";
  font-size: 17px;
  left: 35px;
  bottom: 18px;
  font-family: 'rebus' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media screen and (max-width: 800px) {
  .packages .item ul li:before {
    display: none;
  }
}
.packages .item .bill {
  text-transform: uppercase;
  text-align: center;
  font-family: "Pf Med";
  font-size: 30px;
  line-height: 1.1;
  padding: 13px 0 0;
}
@media screen and (max-width: 800px) {
  .packages .item .bill {
    padding: 0;
    margin-bottom: 43px;
  }
}
.packages .ico-font {
  position: absolute;
  display: block;
  top: 19px;
  left: 15px;
}
@media screen and (max-width: 800px) {
  .packages .ico-font {
    display: none;
  }
}
.packages .ico-font .top {
  font-size: 63px;
  position: relative;
}
.packages .ico-font .left {
  position: relative;
  color: #b8b8b9;
  font-size: 31px;
}
.packages .basic .left {
  top: -23px;
  left: -50px;
}
.packages .custom .left {
  top: -23px;
  left: -50px;
}
.packages .green {
  border: 2px solid #a4de59;
}
@media screen and (max-width: 800px) {
  .packages .green {
    border: none;
  }
}
.packages .green .top {
  color: #77b624;
}
.packages .green .title {
  color: #77b624;
}
.packages .green li:before {
  color: #77b624;
}
.packages .green .bill {
  border-top: 2px solid #a4de59;
  color: #77b624;
}
@media screen and (max-width: 800px) {
  .packages .green .bill {
    border: none;
  }
}
.packages .orange {
  border: 2px solid #f9a526;
}
@media screen and (max-width: 800px) {
  .packages .orange {
    border: none;
  }
}
.packages .orange .top {
  color: #f9a526;
}
.packages .orange .title {
  color: #f9a526;
}
.packages .orange li:before {
  color: #f9a526;
}
.packages .orange .bill {
  border-top: 2px solid #f9a526;
  color: #f9a526;
}
@media screen and (max-width: 800px) {
  .packages .orange .bill {
    border: none;
  }
}

/*============== Partners Page ================*/
.partners-wrap {
  padding: 35px 0 57px;
}
@media screen and (max-width: 800px) {
  .partners-wrap {
    padding: 35px 0 0;
  }
}
.partners-wrap .section-title {
  font-size: 35px;
  line-height: 1.1;
  color: #77b624;
  margin-bottom: 2px;
  text-transform: uppercase;
}
@media screen and (max-width: 800px) {
  .partners-wrap .section-title {
    text-align: center;
  }
}
.partners-wrap .partners {
  border-top: 1px solid #a4de59;
  padding-top: 39px;
}
@media screen and (max-width: 800px) {
  .partners-wrap .partners {
    padding-top: 25px;
  }
}
.partners-wrap .partners li {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  .partners-wrap .partners li {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.partners-wrap .partners li:after {
  display: block;
  content: "";
  clear: both;
}
.partners-wrap .img-wrap, .partners-wrap .info {
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-content: space-around;
  align-content: space-around;
  margin-bottom: 49px;
}
.partners-wrap .img-wrap {
  width: 25%;
  padding: 0 13px 0;
}
@media screen and (max-width: 800px) {
  .partners-wrap .img-wrap {
    padding: 0;
    margin-bottom: 10px;
    width: 100%;
  }
}
.partners-wrap .img-wrap img {
  display: block;
  max-width: 90%;
  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  .partners-wrap .img-wrap img {
    max-width: 100%;
  }
}
.partners-wrap .info {
  width: 75%;
  line-height: 26px;
  font-weight: 600;
  color: #7a7a7a;
}
@media screen and (max-width: 800px) {
  .partners-wrap .info {
    margin-bottom: 45px;
    width: 100%;
  }
}
.partners-wrap .info .title {
  font-size: 22px;
  margin-bottom: 13px;
}
@media screen and (max-width: 800px) {
  .partners-wrap .info .title {
    text-align: center;
  }
}
.partners-wrap .info .sub-title {
  font-size: 18px;
  text-decoration: underline;
  margin-bottom: 18px;
}
@media screen and (max-width: 800px) {
  .partners-wrap .info .sub-title {
    text-align: center;
  }
}
.partners-wrap .info p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 25px;
}
.partners-wrap .info a {
  font-size: 16px;
  font-weight: 400;
  color: #5288f4;
  text-decoration: none;
}
@media screen and (max-width: 800px) {
  .partners-wrap .info a {
    text-align: center;
  }
}
.partners-wrap .info a:hover {
  text-decoration: underline;
}

/*============ Contacts page =============*/
.contacts-box {
  float: left;
  width: 49%;
  margin-right: 1%;
  color: #b8b8b9;
}
@media screen and (max-width: 800px) {
  .contacts-box {
    float: none;
    width: 100%;
    margin: 0;
  }
}
.contacts-box .title {
  font-family: "Pf Reg";
  font-size: 30px;
  margin-bottom: 24px;
}
@media screen and (max-width: 800px) {
  .contacts-box .title {
    text-align: center;
  }
}

.contacts-info {
  float: right;
  width: 49%;
  margin-left: 1%;
}
@media screen and (max-width: 800px) {
  .contacts-info {
    float: none;
    width: 100%;
    margin: 0 0 20px;
  }
}
.contacts-info .info {
  color: #b8b8b9;
  font-family: "Pf Reg";
  font-size: 24px;
  line-height: 38px;
}
@media screen and (max-width: 800px) {
  .contacts-info .info {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .contacts-info .info.show-mob {
    display: block;
  }
}
@media screen and (max-width: 800px) {
  .contacts-info .info span {
    display: block;
    text-align: center;
  }
}
.contacts-info .info span.left {
  margin-right: 15px;
}
@media screen and (max-width: 800px) {
  .contacts-info .info span.left {
    margin: 0;
  }
}
.contacts-info .info span.right {
  margin-left: 15px;
  position: relative;
}
@media screen and (max-width: 800px) {
  .contacts-info .info span.right {
    margin: 0;
  }
}
.contacts-info .info span.right:before {
  position: absolute;
  content: "|";
  display: block;
  left: -16px;
  top: -6px;
}
@media screen and (max-width: 800px) {
  .contacts-info .info span.right:before {
    display: none;
  }
}
.contacts-info .map {
  margin: 26px 0 15px;
}
@media screen and (max-width: 800px) {
  .contacts-info .map {
    display: none;
  }
}

.contact-form {
  padding-bottom: 85px;
  position: relative;
}
.contact-form * {
  outline: none;
}
.contact-form .input-wrapper {
  padding: 16px 8px 0px;
  position: relative;
  margin-bottom: 15px;
}
.contact-form .input-wrapper textarea {
  resize: none;
  min-height: 125px;
}
.contact-form .input-wrapper textarea ~ .line {
  position: absolute;
  content: "";
  display: block;
  left: 8px;
  bottom: 0;
  height: 2px;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.contact-form .input-wrapper textarea:focus ~ label {
  top: 0px;
  font-size: 13px;
  line-height: 16px;
}
.contact-form .input-wrapper textarea.valid ~ .line {
  right: 8px;
  background: #77b624;
}
.contact-form .input-wrapper textarea.not-empty ~ label {
  top: 0px;
  font-size: 13px;
  line-height: 16px;
  color: #77b624;
}
.contact-form .input-wrapper.text {
  margin-bottom: 31px;
}
.contact-form .input-wrapper.text label {
  top: 101px;
}
.contact-form .input-wrapper.text label.error {
  top: 100%;
  font-size: 13px;
  line-height: 16px;
  color: #ff0000;
}
.contact-form .input-wrapper label {
  position: absolute;
  display: block;
  top: 23px;
  left: 13px;
  font-size: 16px;
  line-height: 26px;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.contact-form .input-wrapper label.error {
  top: 100%;
  font-size: 13px;
  line-height: 16px;
  color: #ff0000;
}
.contact-form .input-wrapper input, .contact-form .input-wrapper textarea {
  display: block;
  width: 100%;
  background: #fff;
  border: none;
  border-bottom: 1px solid #b8b8b9;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 26px;
  height: 39px;
  color: #7a7a7a;
  padding: 7px 5px 6px;
}
.contact-form .input-wrapper input ~ .line {
  position: absolute;
  content: "";
  display: block;
  left: 8px;
  bottom: 0;
  height: 2px;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.contact-form .input-wrapper input:focus ~ label {
  top: 0px;
  font-size: 13px;
  line-height: 16px;
}
.contact-form .input-wrapper input:focus ~ label.error {
  top: 100%;
  font-size: 13px;
  line-height: 16px;
  color: #ff0000;
}
.contact-form .input-wrapper input.error ~ label {
  top: 0px;
  font-size: 13px;
  line-height: 16px;
  color: #ff0000;
}
.contact-form .input-wrapper input.error ~ label.error {
  top: 100%;
  font-size: 13px;
  line-height: 16px;
  display: none !important;
}
.contact-form .input-wrapper input.error ~ .line {
  right: 8px;
  background: #ff0000;
}
.contact-form .input-wrapper input.valid ~ label {
  top: 0px;
  font-size: 13px;
  line-height: 16px;
  color: #77b624;
}
.contact-form .input-wrapper input.valid ~ .line {
  right: 8px;
  background: #77b624;
}
.contact-form .input-wrapper input.not-empty ~ label {
  top: 0px;
  font-size: 13px;
  line-height: 16px;
}
.contact-form .btn-orange {
  font-size: 23px;
  line-height: 26px;
  padding: 10px 26px;
  max-width: 192px;
  cursor: pointer;
}
.contact-form .msg {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 310px;
  margin: 0 auto;
  padding-left: 68px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}
.contact-form .msg:before {
  position: absolute;
  top: 50%;
}
.contact-form .msg span {
  display: block;
}
.contact-form .success {
  color: #77b624;
}
.contact-form .success:before {
  left: 10px;
  margin-top: -23px;
  content: "";
  color: #77b624;
  font-size: 46px;
  font-family: 'rebus' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.contact-form .success.valid {
  display: block;
}
.contact-form .fail {
  color: #ff0000;
}
.contact-form .fail:before {
  left: -6px;
  width: 70px;
  height: 77px;
  margin-top: -38.5px;
  content: '';
  background: url("../images/ops.png") no-repeat;
}
.contact-form .fail.valid {
  display: block;
}

/*============== main slider ===============*/
.main-slider img {
  display: block;
  width: 100%;
}
.main-slider .content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  padding-top: 34px;
  padding-bottom: 35px;
}
.main-slider .main-slider-title {
  text-transform: uppercase;
  width: 65%;
  font-family: 'Pf Med';
  font-size: 66px;
  line-height: 1;
}
.main-slider .slick-dots {
  bottom: 16px;
  width: 50%;
}
.main-slider .slick-dots li button {
  background: #77b624;
}
.main-slider .slick-dots li button:hover {
  background: #fff;
}
.main-slider .slick-dots li.slick-active button {
  background: #fff;
}

/*================ Responsive =================*/
.responsive {
  padding: 13px 0 23px;
}
@media screen and (max-width: 800px) {
  .responsive .content {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
  }
}
.responsive .title-box, .responsive .responsive-img {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-content: space-around;
  -moz-align-content: space-around;
  -ms-align-content: space-around;
  align-content: space-around;
}
.responsive .title-box {
  width: 49%;
  margin-right: 1%;
}
@media screen and (max-width: 800px) {
  .responsive .title-box {
    order: 2;
    width: 100%;
    margin: 0;
  }
}
.responsive .title {
  max-width: 398px;
  margin: 10px auto 0;
  color: #68767f;
  font-family: "Pf Reg";
  font-size: 47px;
  line-height: 1.2;
}
@media screen and (max-width: 800px) {
  .responsive .title {
    font-family: "Pf Light";
    font-size: 40px;
  }
}
.responsive .title .up {
  text-transform: uppercase;
}
@media screen and (max-width: 800px) {
  .responsive .title .up {
    text-align: center;
  }
}
.responsive .title .left {
  text-align: left;
}
@media screen and (max-width: 800px) {
  .responsive .title .left {
    text-align: center;
  }
}
.responsive .title .right {
  text-align: right;
}
@media screen and (max-width: 800px) {
  .responsive .title .right {
    text-align: center;
  }
}
.responsive .responsive-img {
  width: 49%;
  margin-left: 1%;
}
@media screen and (max-width: 800px) {
  .responsive .responsive-img {
    order: 1;
    width: 100%;
    margin: 0 0 20px;
  }
}
.responsive .responsive-img img {
  display: block;
  max-width: 100%;
}
@media screen and (max-width: 800px) {
  .responsive .responsive-img img {
    margin: 0 auto;
  }
}

/*================ Services Wrap ================*/
.services-wrap {
  background: #fff;
  padding: 40px 0 11px;
}
@media screen and (max-width: 800px) {
  .services-wrap {
    padding: 22px 0 3px;
  }
}
@media screen and (max-width: 800px) {
  .services-wrap .content {
    padding: 0;
  }
}
.services-wrap .services {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.services-wrap .services a {
  width: 48%;
  margin: 0 7px 7px;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-content: space-around;
  -moz-align-content: space-around;
  -ms-align-content: space-around;
  align-content: space-around;
  padding: 18px 12px 23px 118px;
  position: relative;
  text-decoration: none;
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
@media screen and (max-width: 800px) {
  .services-wrap .services a {
    width: 100%;
    margin: 0 0 8px;
    padding: 11px 15px 22px 30px;
  }
}
.services-wrap .services a .hover {
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.services-wrap .services a:hover {
  background: #eaedee;
}
.services-wrap .services a:hover .title {
  color: #f9a526;
}
.services-wrap .services a:hover .hover {
  color: #f9a526;
}
.services-wrap .services a .title {
  color: #77b624;
  text-transform: uppercase;
  font-family: "Pf Reg";
  font-size: 30px;
  line-height: 1.1;
  margin-bottom: 10px;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
@media screen and (max-width: 800px) {
  .services-wrap .services a .title {
    margin: 0 0 30px 87px;
  }
}
.services-wrap .services a p {
  color: #7a7a7a;
  font-size: 16px;
  line-height: 25px;
}
@media screen and (max-width: 800px) {
  .services-wrap .services a p {
    font-size: 15px;
  }
}
@media screen and (max-width: 800px) {
  .services-wrap .services a.cms {
    order: 1;
  }
}
.services-wrap .services a.cms .top {
  font-size: 53px;
}
@media screen and (max-width: 800px) {
  .services-wrap .services a.cms .top {
    font-size: 46px;
  }
}
.services-wrap .services a.cms .left {
  font-size: 30px;
  top: 13px;
  left: -14px;
}
@media screen and (max-width: 800px) {
  .services-wrap .services a.outsource {
    order: 4;
  }
}
.services-wrap .services a.outsource .top {
  font-size: 36px;
  top: -17px;
  left: -59px;
}
@media screen and (max-width: 800px) {
  .services-wrap .services a.outsource .top {
    font-size: 27px;
    top: -13px;
    left: -46px;
  }
}
.services-wrap .services a.outsource .left {
  font-size: 74px;
}
@media screen and (max-width: 800px) {
  .services-wrap .services a.outsource .left {
    font-size: 57px;
  }
}
@media screen and (max-width: 800px) {
  .services-wrap .services a.e-commerce {
    order: 2;
  }
}
.services-wrap .services a.e-commerce .top {
  font-size: 64px;
}
@media screen and (max-width: 800px) {
  .services-wrap .services a.e-commerce .top {
    font-size: 58px;
    left: 2px;
  }
}
.services-wrap .services a.e-commerce .left {
  font-size: 28px;
  left: -51px;
  top: -24px;
}
@media screen and (max-width: 800px) {
  .services-wrap .services a.e-commerce .left {
    font-size: 26px;
    left: -45px;
    top: -21px;
  }
}
@media screen and (max-width: 800px) {
  .services-wrap .services a.shopify {
    order: 5;
  }
}
.services-wrap .services a.shopify .top {
  font-size: 63px;
  left: 7px;
  top: -5px;
}
@media screen and (max-width: 800px) {
  .services-wrap .services a.shopify .top {
    left: 0;
    top: -3px;
  }
}
@media screen and (max-width: 800px) {
  .services-wrap .services a.custom-web {
    order: 3;
  }
}
.services-wrap .services a.custom-web .top {
  font-size: 54px;
}
@media screen and (max-width: 800px) {
  .services-wrap .services a.custom-web .top {
    font-size: 39px;
  }
}
.services-wrap .services a.custom-web .left {
  font-size: 43px;
  left: -18px;
  top: 21px;
}
@media screen and (max-width: 800px) {
  .services-wrap .services a.custom-web .left {
    font-size: 34px;
    left: -15px;
    top: 17px;
  }
}
@media screen and (max-width: 800px) {
  .services-wrap .services a.web-hosting {
    order: 6;
  }
}
.services-wrap .services a.web-hosting .top {
  font-size: 42px;
  left: -53px;
  top: -14px;
}
@media screen and (max-width: 800px) {
  .services-wrap .services a.web-hosting .top {
    top: -5px;
  }
}
.services-wrap .services a.web-hosting .left {
  font-size: 70px;
  top: -20px;
}
@media screen and (max-width: 800px) {
  .services-wrap .services a.web-hosting .left {
    top: -10px;
  }
}
.services-wrap .services .ico-font {
  position: absolute;
  display: block;
  content: "";
  top: 12px;
  left: 18px;
  color: #b8b8b9;
}
@media screen and (max-width: 800px) {
  .services-wrap .services .ico-font {
    top: 6px;
    left: 30px;
  }
}
.services-wrap .services .top {
  color: #77b624;
  position: relative;
}
.services-wrap .services .left {
  position: relative;
}

/*=============== Portfolio main page ==============*/
.portfolio-wrap {
  padding: 48px 0 40px;
}
@media screen and (max-width: 800px) {
  .portfolio-wrap {
    padding: 22px 0 32px;
  }
}
.portfolio-wrap .content {
  max-width: 1336px;
  padding: 0;
}
@media screen and (max-width: 800px) {
  .portfolio-wrap .content {
    padding: 0 6px;
  }
}
.portfolio-wrap .h2 {
  color: #7a7a7a;
  font-family: "Pf Med";
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 42px;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .portfolio-wrap .h2 {
    font-size: 35px;
    margin-bottom: 19px;
  }
}
@media screen and (max-width: 800px) {
  .portfolio-wrap .btn-orange {
    font-size: 22px;
    padding: 10px 12px;
  }
}

/*================ Portfolio carusel ================*/
@media (min-width: 801px) {
  .min-carusel {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
    margin-bottom: 39px;
  }
  .min-carusel > div {
    width: 33%;
    margin: 0 1px 2px;
  }
  .min-carusel a {
    display: block;
    position: relative;
    color: #fff;
  }
  .min-carusel a:hover .min-carusel-hover {
    background: rgba(0, 0, 0, 0.4);
  }
  .min-carusel a:hover .min-carusel-hover .btn-empty {
    display: block;
  }
  .min-carusel a img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
  .min-carusel .min-carusel-hover {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    text-align: center;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .min-carusel .min-carusel-hover .btn-empty {
    display: none;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    max-width: 155px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
  }
}
@media (max-width: 800px) {
  .min-carusel {
    margin-bottom: 55px;
  }
  .min-carusel .slick-dots {
    bottom: -33px;
  }
  .min-carusel .slick-slide {
    position: relative;
  }
  .min-carusel a {
    display: block;
  }
  .min-carusel a:hover .min-carusel-hover {
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
  }
  .min-carusel a:hover .min-carusel-hover .btn-empty {
    display: inline-block;
  }
  .min-carusel img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  .min-carusel .min-carusel-hover {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    text-align: center;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .min-carusel .min-carusel-hover .btn-empty {
    display: none;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    max-width: 155px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border-width: 2px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
/*=========== Testimonial home page ===========*/
.testimon-wrap {
  padding: 37px 0 45px;
}
@media (max-width: 800px) {
  .testimon-wrap {
    padding: 21px 0 72px;
  }
}
.testimon-wrap .content {
  max-width: 830px;
}
@media (max-width: 800px) {
  .testimon-wrap .content {
    max-width: 100%;
  }
}
.testimon-wrap .testimonial-slider {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.testimon-wrap .slick-dots {
  bottom: -29px;
}
.testimon-wrap .slick-prev, .testimon-wrap .slick-next {
  width: 58px;
  height: 58px;
  z-index: 1;
}
.testimon-wrap .slick-prev:hover, .testimon-wrap .slick-next:hover {
  width: 58px;
  height: 58px;
}
.testimon-wrap .slick-prev:hover:before, .testimon-wrap .slick-next:hover:before {
  opacity: 1;
  font-size: 56px;
}
.testimon-wrap .slick-prev:before, .testimon-wrap .slick-next:before {
  font-size: 42px;
  opacity: 1;
  color: #68767f;
  font-family: 'rebus' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.testimon-wrap .slick-prev {
  left: 0;
}
.testimon-wrap .slick-prev:before {
  content: "";
}
.testimon-wrap .slick-next {
  right: 0;
}
.testimon-wrap .slick-next:before {
  content: "";
}
.testimon-wrap .slick-slide {
  padding: 30px 100px 20px;
}
@media (max-width: 800px) {
  .testimon-wrap .slick-slide {
    padding: 27px 0px 10px;
  }
}
.testimon-wrap .text {
  position: relative;
  text-indent: 28px;
  margin-bottom: 23px;
  font-style: italic;
  color: #000;
  font-size: 15px;
  line-height: 1.6;
}
.testimon-wrap .text:before {
  position: absolute;
  display: block;
  content: '';
  top: -27px;
  left: -24px;
  width: 23px;
  height: 17px;
  background: url("../images/block.png") no-repeat;
}
@media (max-width: 800px) {
  .testimon-wrap .text:before {
    top: -26px;
    left: 0;
  }
}
.testimon-wrap .author {
  margin-bottom: 5px;
  color: #68767f;
  font-style: italic;
  font-size: 16px;
  line-height: 1.2;
}
.testimon-wrap .position {
  color: #68767f;
  font-style: italic;
  font-size: 15px;
  line-height: 1.2;
}

/*=========== FAQ home ===========*/
.faq-wrap {
  padding-bottom: 41px;
}
@media (max-width: 800px) {
  .faq-wrap {
    padding-bottom: 21px;
  }
}
.faq-wrap .content {
  max-width: 1160px;
}
@media (max-width: 800px) {
  .faq-wrap .content {
    padding: 0 6px;
  }
}
.faq-wrap .faq-box {
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
}
.faq-wrap .faq-box a {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-content: space-around;
  -moz-align-content: space-around;
  -ms-align-content: space-around;
  align-content: space-around;
  width: calc(100% / 3.05);
  padding: 27px 30px 19px;
  font-family: "Pf Med";
  font-size: 30px;
  line-height: 38px;
  color: #77b624;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.55);
  position: relative;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
@media (max-width: 800px) {
  .faq-wrap .faq-box a {
    width: 100%;
    padding: 24px 30px 21px;
    min-height: 117px;
  }
}
.faq-wrap .faq-box a:after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  z-index: 1;
  border-style: solid;
}
@media (max-width: 800px) {
  .faq-wrap .faq-box a:after {
    display: none;
  }
}
.faq-wrap .faq-box a:nth-child(even) {
  color: #fff;
}
.faq-wrap .faq-box a:hover {
  text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.55);
}
.faq-wrap .first {
  background: url(../images/faq1.png) no-repeat;
  background-size: cover;
}
.faq-wrap .first:after {
  bottom: -12px;
  left: 50%;
  margin-left: -12px;
  border-width: 13px 12px 0 12px;
  border-color: #dfe3e6 transparent transparent transparent;
}
.faq-wrap .second {
  background: url(../images/faq2.png) no-repeat;
  background-size: cover;
}
.faq-wrap .second:after {
  left: -12px;
  top: 50%;
  margin-top: -12px;
  border-width: 12px 13px 12px 0;
  border-color: transparent #63BB27 transparent transparent;
}
.faq-wrap .third {
  background: url(../images/faq3.png) no-repeat;
  background-size: cover;
}
.faq-wrap .third:after {
  left: -12px;
  top: 50%;
  margin-top: -12px;
  border-width: 12px 13px 12px 0;
  border-color: transparent #D7DEE1 transparent transparent;
}
.faq-wrap .fourth {
  background: url(../images/faq4.png) no-repeat;
  background-size: cover;
}
.faq-wrap .fourth:after {
  right: -12px;
  top: 50%;
  margin-top: -12px;
  border-width: 12px 0 12px 13px;
  border-color: transparent transparent transparent #63bb27;
}
.faq-wrap .fifth {
  background: url(../images/faq5.png) no-repeat;
  background-size: cover;
}
.faq-wrap .fifth:after {
  right: -12px;
  top: 50%;
  margin-top: -12px;
  border-width: 12px 0 12px 13px;
  border-color: transparent transparent transparent #D7DEE1;
}
.faq-wrap .sixth {
  background: url(../images/faq6.png) no-repeat;
  background-size: cover;
}
.faq-wrap .sixth:after {
  top: -12px;
  left: 50%;
  margin-left: -12px;
  border-width: 0 12px 13px 12px;
  border-color: transparent transparent #7DC54E transparent;
}
.faq-wrap .faq-info {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid #63bb27;
  padding: 43px 36px 44px 30px;
  background: #fff;
}
@media (max-width: 800px) {
  .faq-wrap .faq-info {
    padding: 0 0 50px;
  }
}
.faq-wrap .faq-info:hover .title {
  text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.55);
}
.faq-wrap .faq-info .title {
  float: left;
  margin: -43px 29px 20px -30px;
  width: 363px;
  height: 117px;
  padding: 25px 10px 15px;
  font-family: "Pf Med";
  font-size: 30px;
  line-height: 38px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.55);
  position: relative;
  background: url(../images/faq1h.png) no-repeat;
  background-size: cover;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
@media (max-width: 800px) {
  .faq-wrap .faq-info .title {
    margin: 0 0 30px;
    width: 100%;
    float: none;
  }
}
.faq-wrap .faq-info .title:after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  z-index: 1;
  border-style: solid;
  bottom: -11px;
  left: 50%;
  margin-left: -12px;
  border-width: 13px 12px 0 12px;
  border-color: #7AC449 transparent transparent transparent;
}
.faq-wrap .faq-info p {
  color: #2c2c2d;
  font-size: 14px;
  line-height: 25px;
}
@media (max-width: 800px) {
  .faq-wrap .faq-info p {
    margin: 0 15px;
  }
}
.faq-wrap .faq-info .faq-close {
  position: absolute;
  display: block;
  bottom: 12px;
  right: 38px;
  width: 54px;
  height: 24px;
  font-size: 12px;
  line-height: 24px;
  padding: 0;
  background: #63bb27;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  text-shadow: none;
}
@media (max-width: 800px) {
  .faq-wrap .faq-info .faq-close {
    min-height: 24px;
    bottom: 10px;
    right: 10px;
  }
}
.faq-wrap .faq-info .faq-close i {
  font-size: 12px;
  line-height: 24px;
}
.faq-wrap .faq-info .faq-close:hover {
  text-shadow: none;
  background: #f9a526;
}
.faq-wrap .faq-info .faq-close:after {
  display: none;
}

/*=========== Logos home =============*/
.logos-wrap {
  padding: 33px 0 64px;
}
@media (max-width: 800px) {
  .logos-wrap {
    padding: 21px 0 46px;
  }
}
.logos-wrap .content {
  max-width: 1356px;
  padding: 0;
}
@media (max-width: 800px) {
  .logos-wrap .content {
    padding: 0 15px;
  }
}
.logos-wrap .logos-box {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.logos-wrap .logos-box li {
  width: calc(100% / 7);
  border-bottom: 2px solid #eaedee;
  border-right: 2px solid #eaedee;
  position: relative;
  height: 156px;
}
@media (max-width: 800px) {
  .logos-wrap .logos-box li {
    width: calc(100% / 3);
    height: 90px;
    border: none;
  }
}
.logos-wrap .logos-box li img {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (max-width: 1200px) {
  .logos-wrap .logos-box li img {
    max-width: 90%;
  }
}
.logos-wrap .logos-box li:nth-child(7n) {
  border-right: none;
}
.logos-wrap .logos-box li:nth-last-child(-n+7) {
  border-bottom: none;
}

/*=============== Footer ===============*/
.footer {
  -webkit-align-self: flex-end;
  -moz-align-self: flex-end;
  -ms-align-self: flex-end;
  align-self: flex-end;
  width: 100%;
  padding: 57px 0 104px;
  text-align: center;
  position: relative;
  background: url("../images/footerBg.jpg") no-repeat;
  background-size: cover;
}
@media (max-width: 800px) {
  .footer {
    padding: 15px 0 54px;
  }
}
.footer:before {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(134, 152, 164, 0.75);
}
.footer .content {
  position: relative;
  z-index: 1;
}
.footer .title, .footer .sub-title {
  color: #fff;
  font-family: "Pf Med";
  text-transform: uppercase;
  text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.61);
}
.footer .title {
  font-size: 60px;
  line-height: 68px;
  margin-bottom: 3px;
}
@media (max-width: 800px) {
  .footer .title {
    font-size: 48px;
    line-height: 1;
    margin-bottom: 18px;
  }
}
.footer .sub-title {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 38px;
}
@media (max-width: 800px) {
  .footer .sub-title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 28px;
  }
}
