$reb-arrows: "\e900";
$reb-bag: "\e901";
$reb-cart: "\e902";
$reb-cloud: "\e903";
$reb-db: "\e904";
$reb-house: "\e905";
$reb-mobile: "\e906";
$reb-screen: "\e907";
$reb-set-alt: "\e908";
$reb-spanner: "\e90b";
$reb-star: "\e90c";
$reb-ul: "\e90d";
$reb-faq-arrow: "\e910";
$reb-check: "\e911";
$reb-left-sm: "\e909";
$reb-right-sm: "\e90a";
$reb-left: "\e90e";
$reb-right: "\e90f";
$reb-gear: "\e023";
$reb-close: "\e5cd";

@font-face {
  font-family: 'rebus';
  src:  url('#{$fontPath}rebus.eot?fil5g4');
  src:  url('#{$fontPath}rebus.eot?fil5g4#iefix') format('embedded-opentype'),
    url('#{$fontPath}rebus.ttf?fil5g4') format('truetype'),
    url('#{$fontPath}rebus.woff?fil5g4') format('woff'),
    url('#{$fontPath}rebus.svg?fil5g4#rebus') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="reb-"], [class*=" reb-"] {
  font-family: 'rebus' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.reb-arrows {
  &:before {
    content: $reb-arrows;
  }
}
.reb-bag {
  &:before {
    content: $reb-bag;
  }
}
.reb-cart {
  &:before {
    content: $reb-cart;
  }
}
.reb-cloud {
  &:before {
    content: $reb-cloud;
  }
}
.reb-db {
  &:before {
    content: $reb-db;
  }
}
.reb-house {
  &:before {
    content: $reb-house;
  }
}
.reb-mobile {
  &:before {
    content: $reb-mobile;
  }
}
.reb-screen {
  &:before {
    content: $reb-screen;
  }
}
.reb-set-alt {
  &:before {
    content: $reb-set-alt;
  }
}
.reb-spanner {
  &:before {
    content: $reb-spanner;
  }
}
.reb-star {
  &:before {
    content: $reb-star;
  }
}
.reb-ul {
  &:before {
    content: $reb-ul;
  }
}
.reb-faq-arrow {
  &:before {
    content: $reb-faq-arrow;
  }
}
.reb-check {
  &:before {
    content: $reb-check;
  }
}
.reb-left-sm {
  &:before {
    content: $reb-left-sm;
  }
}
.reb-right-sm {
  &:before {
    content: $reb-right-sm;
  }
}
.reb-left {
  &:before {
    content: $reb-left;
  }
}
.reb-right {
  &:before {
    content: $reb-right;
  }
}
.reb-gear {
  &:before {
    content: $reb-gear;
  }
}
.reb-close {
  &:before {
    content: $reb-close;
  }
}