$imgPath: "../images/";
$fontPath: "../fonts/";
$transition: all 0.2s ease-out;
$orange: #f9a526;
$lightOrange: #fed88d;
$orBtnbord: #cdd2d5;
$green: #a4de59;
$hardGreen: #77b624;
$darkGreen: #63bb27;
$mediumGrey: #b8b8b9;
$grey: #eaedee;
$hardGrey: #7a7a7a;
$white: #fff;
$black: #000;
$blueGrey: #8698a4;
$hardBlueGrey: #68767f;
$sliderDots: #d3d3d3;
$sliderDotsHover: #7a9bb2;