$headerBack: $blueGrey;
$responsiveText: $hardBlueGrey;
$headerColor: $white;
$lightOrange: $orange;
$lightGreen: $green;
$headerSub: $hardGrey;
$headerSubHover: $hardGreen;
$greyBack: $grey;
$portfolioColor: $white;
$btnEmpty: $white;
$btnEmptyHoveColor: $black;
$orBtnBack: $orange;
$orBtnColor: $white;
$logosBorder: $grey;
$testimText: $black;
$testimonAuthor: $hardBlueGrey;
$testArrow: $hardBlueGrey;
$faqColorGreen: $hardGreen;
$faqColorWhite: $white;
$faqBtn: $darkGreen;
$faqBtnHover: $orange;
$footerText: $white;
$iconBaseColor: $mediumGrey;
$iconGreenColor: $hardGreen;
$iconHoverColor: $orange;
$processBackGrey: $grey;
$processBackWhite: $white;
$stepNum: $hardGrey;
$processTitle: $darkGreen;
$processSubtitle: $hardGrey;
$serviceList: $hardBlueGrey;
$serviceText: $hardGrey;
$serviceListBorder: $grey;
$serviceGreen: $green;
$serviceGreenColor: $hardGreen;
$serviceOrange: $lightOrange;
$serviceOrangeColor: $orange;
$contactColor: $mediumGrey;
$contactform: $hardGrey;
$contactError: #ff0000;
$contactValid: $hardGreen;
$portfolioColor: $hardGrey;
$portfolioTitle: $hardGreen;
$portfolioHov: $orange;
$portfolioBorder: $grey;