$imgPath: "../images/";
$fontPath: "../fonts/";
$transition: all 0.2s ease-out;
$orange: #f9a526;
$lightOrange: #fed88d;
$orBtnbord: #cdd2d5;
$green: #a4de59;
$hardGreen: #77b624;
$darkGreen: #63bb27;
$mediumGrey: #b8b8b9;
$grey: #eaedee;
$hardGrey: #7a7a7a;
$white: #fff;
$black: #000;
$blueGrey: #8698a4;
$hardBlueGrey: #68767f;
$sliderDots: #d3d3d3;
$sliderDotsHover: #7a9bb2;


$headerBack: $blueGrey;
$responsiveText: $hardBlueGrey;
$headerColor: $white;
$lightOrange: $orange;
$lightGreen: $green;
$headerSub: $hardGrey;
$headerSubHover: $hardGreen;
$greyBack: $grey;
$portfolioColor: $white;
$btnEmpty: $white;
$btnEmptyHoveColor: $black;
$orBtnBack: $orange;
$orBtnColor: $white;
$logosBorder: $grey;
$testimText: $black;
$testimonAuthor: $hardBlueGrey;
$testArrow: $hardBlueGrey;
$faqColorGreen: $hardGreen;
$faqColorWhite: $white;
$faqBtn: $darkGreen;
$faqBtnHover: $orange;
$footerText: $white;
$iconBaseColor: $mediumGrey;
$iconGreenColor: $hardGreen;
$iconHoverColor: $orange;
$processBackGrey: $grey;
$processBackWhite: $white;
$stepNum: $hardGrey;
$processTitle: $darkGreen;
$processSubtitle: $hardGrey;
$serviceList: $hardBlueGrey;
$serviceText: $hardGrey;
$serviceListBorder: $grey;
$serviceGreen: $green;
$serviceGreenColor: $hardGreen;
$serviceOrange: $lightOrange;
$serviceOrangeColor: $orange;
$contactColor: $mediumGrey;
$contactform: $hardGrey;
$contactError: #ff0000;
$contactValid: $hardGreen;
$portfolioColor: $hardGrey;
$portfolioTitle: $hardGreen;
$portfolioHov: $orange;
$portfolioBorder: $grey;

@import "compass";
@import "compass/reset";
@import "_mixins";
@import "_ico-font";
@import "_fonts";

html{
	min-height: 100%;
}
body{
	font:400 16px/1.1 "Open Sans", Arial, sans-serif;
	min-height:100%;
}
.animate, a {
    @include transition($transition);
}
*, *:after, *:before {
    @include box-sizing(border-box);
}
.clear:after {
    display: block;
    content: "";
    clear: both;
}
.clear.mob{
    display:none;
    @include bp( m ){
		display:block;
	}
}
.mob{
	display:none;
	@include bp( m ){
		display:block;
	}
}
.h1, h1{
	font:40px/1.1 "Pf Med", Arial, sans-serif;
	color:$hardGrey;
	margin-bottom:28px;
	text-align:center;
	@include bp( m ){
		font-size:35px;
	}
}
p{
	font:400 16px/24px "Open Sans", Arial, sans-serif;
	color:$hardGrey;
}
.flex{
    @include flex();
}
.wrapper{
	@include flex-direction(column);
	@include align-items(flex-start);
    min-height:100vh;
	min-width:320px;
	overflow:hidden;
}
.main{
	width:100%;
}
.content{
	max-width:1128px;
	width:100%;
	padding:0 15px;
	margin:0 auto;
}
.grey-back{
	background:$greyBack;
}
.center{
	text-align:center;
}
.btn-empty{
	display:inline-block;
	vertical-align:top;
	color:$btnEmpty;
	font:400 14px/28px Arial, sans-serif;
	text-transform:uppercase;
	padding:0 11px;
	border:3px solid $btnEmpty;
	@include border-radius(6px);
	text-decoration:none;
	@include transition($transition);
	&:hover{
		background:$btnEmpty;
		color:$btnEmptyHoveColor;
	}
}
.btn-orange{
	display:inline-block;
	vertical-align:top;
	border:2px solid $orBtnbord;
	@include border-radius(8px);
	background:$orBtnBack;
	color:$orBtnColor;
	font:30px/32px "Pf Med", Arial, sans-serif;;
	text-shadow:2px 0px 1px rgba(68, 26, 26, 0.4);
	padding:15px 26px;
	text-decoration:none;
	text-transform:uppercase;
	@include transition($transition);
	@include bp( m ){
		font-size:24px;
	    padding:10px 7px;
	}
	&:hover{
		background:#ffa500;
		border-color:#ffa500;
	}
}
.slick-dots{
	li{
	    margin:0 4px;
        height:13px;
	    width:13px;
	    button{
	    	height:13px;
		    width:13px;
	    	@include border-radius(50%);
	    	background:$sliderDots;
	    	@include transition($transition);
	    	&:before{
	    		display:none;
	    	}
	    	&:hover{
	    		background:$sliderDotsHover;
	    	}
	    }
	    &.slick-active{
	    	button{
		    	background:$sliderDotsHover;
	    	}
	    }
	}
}
.layout {
    display: none;
    position: fixed;
    left: 0;
    top: -100px;
    bottom: 0;
    right: 0;
    z-index: 2;
    background:rgba(0,0,0,.3);
    @include bp( l ){
    	display:none!important;
    }
}
.top-banner{
	padding:112px 0;
}
/*========= Header =========*/
.header{
	@include align-self(flex-start);
    width:100%;
	padding:45px 0 17px;
	background:#8698a4;
	position:relative;
    z-index:3;
    height:123px;
    .content{
		@include bp( m ){
			padding:0 14px;
		}
	}
	&:before{
		position:absolute;
		content:"";
		display:block;
		top:0;
		left:0;
		right:0;
		height:12px;
		background:rgba(0,0,0,.29);
	}
	.logo{
		display:block;
		float:left;
		img{
			display:block;
			max-width:161px;
			& + img{
				margin-top:10px;
			}
		}

	}
}
.main-nav{
	float:right;
	@include bp( l ){
		display:block!important;
	}
	@include bp( m ){
		float:none;
		display:none;
		position:absolute;
		left:0;
		right:0;
		top:calc(100% - 14px);
		background:#8698a4;
		padding:14px;
		&:before{
			position:absolute;
			content:"";
			display:block;
			top:0;
			left:0;
			right:0;
			bottom:0;
			background:rgba(0,0,0,.29);
		}
	}
	& > li{
		display:inline-block;
		vertical-align:top;
		position:relative;
		@include bp( m ){
			background:#55626b;
			display:block;
		}
		&:after{
			display:block;
			content:"";
			position:absolute;
			left:0;
			right:0;
			bottom:0px;
			height:0px;
			background:transparent;
			@include transition($transition);
			@include bp( m ){
				right:100%;
				height:4px;
			}
		}
		&:hover{
			&:after{
				height:4px;
				background:$lightGreen;
				@include bp( m ){
					right:0;
				}
			}
		}
		& + li{
			margin-left:35px;
			@include bp( m ){
				margin-left:0px;
				margin-top:4px;
			}
		}
	}
	a{
		color:$headerColor;
		font-family:"Pf Reg";
		font-size:17px;
		line-height:29px;
		display:block;
		text-transform:uppercase;
		text-decoration:none;
		padding:3px 0;
		@include bp( m ){
			font-size:18px;
			line-height:40px;
			padding:2px 13px;
		}
	}
	.main-nav-contact{
		margin-left:16px;
		position:static;
		@include bp( m ){
			text-align:center;
			position:relative;
			margin:13px auto 0;
			background:transparent;
		}
		&:after{
			display:none;
		}
		&:hover{
			&:after{
				display:none;
			}
		}
		a{
			padding:0 14px;
			@include bp( m ){
				line-height:29px;
				display:inline-block;
				vertical-align:top;
				min-width:116px;
			}
		}
	}
}
.sub-menu{
	position:relative;
	&:hover{
		.main-nav-sub{
			display: block;
			@include bp( m ){
				display:none;
			}
			&.fix{
				@include bp( m ){
					display:block;
				}
			}
		}
	}
	.main-nav-sub{
		&.fix{
			@include bp( m ){
				display:block;
				position:static;
			    padding:0;
			    background:$grey;
			    li{
			    	padding:0px 17px;
			    }
			    a{
		    	    padding:8px 13px;
		    	    color:#4a4a4a;
		    	    &:hover{
		    	    	color:$lightGreen;
		    	    }
			    }
			}
		}
	}
}
.main-nav-sub{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	padding:10px 0;
	background:$headerColor;
	li{
		display:block;
		padding:3px 17px;
		min-width:197px;
	}
	a{
		color:$headerSub;
		font:17px/1.2 "Pf Reg", Arial, sans-serif;
		&:hover{
			color:$lightGreen;
		}
	}
}
.mob-btn{
    display:none;
    float:right;
    width:58px;
    height:44px;
    background:transparent;
    padding:19px 11px 20px;
    @include appearance(none);
    @include bp( m ){
		display:block;
	}
    &:hover{
        div{
        	background:$lightGreen;
        	&:before,
	        &:after{
	        	background:$lightGreen;
	        }
        }
    }
    &.active{
        div{
            background:transparent;
            &:before,
            &:after{
                @include transition-delay(0s,.3s);
            }
            &:before{
                top:0px;
                @include transform(rotate(45deg));
            }
            &:after{
                bottom:0px;
                @include transform(rotate(-45deg));
            }
        }
    }
    div{
        text-indent:-9999px;
        height:5px;
        display:block;
        background:$headerColor;
        position:relative;
        @include transition(background 0.3s 0s);
        &:before,
        &:after{
            position:absolute;
            content:"";
            left:0;
            right:0;
            height:5px;
            z-index:1;
            background:$headerColor;
            @include transition-delay(.3s, 0s, 0s);
            @include transition-duration(.3s, .3s, .3s);
        }
        &:before{
            top:-9px;
            @include transition-property(top,transform, background);
        }
        &:after{
            bottom:-9px;
            @include transition-property(bottom,transform, background);
        }
    }
}
/*==========================================*/
/*===================== OUR PROCESS =======================*/
/*============ Internal content ============*/
.main-content{
	padding:40px 0;
	@include bp( m ){
		padding:29px 0 49px;
	}
	p{
		line-height:23px;
	}
	.title-bottom{
		font-family:"Pf Reg";
		font-size:50px;
		line-height:1.1;
		color:$processSubtitle;
		margin-bottom:42px;
		@media screen and (max-width:450px) {
			font-size:35px;
			margin-bottom:0;
		}
		a{
			color:$processTitle;
			font-family:"Pf Reg";
			font-size:50px;
			line-height:1.1;
			text-decoration:none;
			position:relative;
			@media screen and (max-width:450px) {
				font-size:35px;
			}
			&:after{
				position:absolute;
				display:block;
				content:'';
				bottom:1px;
				left:0px;
				right:0px;
				height:4px;
				background:$processTitle;
				@include transition($transition);
			}
			&:hover{
				&:after{
					background:transparent;
				}
			}
		}
	}
	.img-bottom{
		max-width:910px;
		@media screen and (max-width:450px) {
			display:none;
		}
	}
}
/*============= Our Process ===============*/
.process-wrap{
	@include flex-direction(column);
	padding:37px 0 40px;
	@include bp( m ){
		padding:38px 0 21px;
	}
	.step-wrapper{
		background:$processBackGrey;
		padding:18px 0 40px;
		@include bp( m ){
			padding:22px 0 30px;
		}
		&:nth-child(even){
			background:$processBackWhite;
		}
		.content{
			@include justify-content(center);
		}
		.step, .svg-img{
		    @include flex-direction(column);
		    @include justify-content(center);
		    @include align-content(space-around);
		}
		.step{
			width:49%;
			margin-right:1%;
			padding:4px 0 4px;
			@include bp( m ){
				padding:0;
				text-align:center;
				width:100%;
				margin:0;
			}
		}
		.svg-img{
			width:49%;
			margin-left:1%;
			display:block;
			text-align:center;
			@include bp( m ){
				display:none;
			}
			img{
				display: block;
				margin:0 auto;
				max-height:455px;
				max-width:100%;
			}
		}
	}
	.step-num{
		color:$stepNum;
		font:48px/1.1 "Pf Reg", Arial, sans-serif;
		margin-bottom:30px;
		@include bp( m ){
			margin-bottom:19px;
		}
	}
	.title{
		color:$processTitle;
		font:35px/1.1 "Pf Reg", Arial, sans-serif;
		margin-bottom:15px;
		text-transform:uppercase;
	}
	p{
		margin-bottom:28px;
		@include bp( m ){
			&:last-child{
				text-align:center;
			}
		}
	}
	.sub-title{
		font-size:18px;
		line-height:24px;
		font-weight:600;
		text-transform:uppercase;
		color:$processSubtitle;
		margin-bottom:5px;
	}
}
/*==================== Service page ==================*/
.service-list{
	text-align:center;
	margin-bottom:46px;
	li{
		display:inline-block;
		vertical-align:top;
		@include bp( m ){
			display: block;
		}

		& + li{
			margin-left:36px;
			@include bp( m ){
				margin:0 0 2px;
			}
		}
	}
	a{
		display:inline-block;
		vertical-align:top;
		color:$serviceList;
		text-decoration:none;
		text-transform:uppercase;
		font:17px/1.1 "Pf Med", Arial, sans-serif;
		@include bp( m ){
			padding:8px 0;
		}
		&:hover{
			text-decoration:underline;
		}
	}
}
.packages{
	padding:43px 0 41px;
    @include justify-content(center);
    @include bp( m ){
    	@include flex-direction(column);
    	padding-bottom:0;
    }
	.col-2{
		width:49%;
		@include bp( m ){
			width:100%;
		}
		& + .col-2{
			margin-left:2%;
			@include bp( m ){
				margin:50px 0 0;
			}
		}
	}
	.item{
		@include flex-direction(column);
		@include justify-content(flex-start);
		position:relative;
		@include border-radius(7px);
		padding:22px 0 13px;
		min-height:700px;/*IE FIX*/
		@media screen and (max-width:1030px) {
			min-height:790px; /*IE FIX*/
		}
		@include bp( m ){
			text-align:center;
			padding:0;
			min-height:auto; /*IE FIX*/
		}
		.title{
			margin:0 80px 17px;
			font:45px/1.1 "Pf Reg", Arial, sans-serif;
			text-align:center;
			text-transform:uppercase;
			@include bp( m ){
				margin:0 0 13px;
			}
		}
		p{
			color:$serviceText;
			font-weight:600;
			margin:0 18px 20px 90px;
			@include bp( m ){
				margin:0 0 35px;
			}
		}
		ul{
		    flex:1;
			margin:0 18px 13px;
			@include bp( m ){
				flex:0;
				min-height:424px; /*IE FIX*/
				margin:0 0 19px;
			}
			li{
				padding:19px 5px 16px 73px;
				position:relative;
				font-weight:600;
				font-size:17px;
				line-height:1.2;
				color:$serviceText;
				@include bp( m ){
					padding:16px 5px; 
					border-bottom:1px solid $serviceListBorder;
				}
				& + li{
					border-top:1px solid $serviceListBorder;
					@include bp( m ){
						border-top:none;
					}
				}
				&:before{
					position:absolute;
					display:block;
					content:$reb-ul;
					font-size:17px;
					left:35px;
					bottom:18px;
					@include rebus();
					@include bp( m ){
						display:none;
					}
				}
			}
		}
		.bill{
			text-transform:uppercase;
			text-align:center;
			font:30px/1.1 "Pf Med", Arial, sans-serif;
			padding:13px 0 0;
			@include bp( m ){
				padding:0;
				margin-bottom:43px;
			}
		}
	}
	.ico-font{
		position:absolute;
		display:block;
		top:19px;
		left:15px;
		@include bp( m ){
			display:none;
		}
		.top{
			font-size:63px;
			position:relative;
		}
		.left{
			position:relative;
			color:$mediumGrey;
		    font-size:31px;
		}
	}
	.basic{
		.left{
		    top:-23px;
		    left:-50px;
		}
	}
	.custom{
		.left{
		    top:-23px;
		    left:-50px;
		}
	}
	.green{
		border:2px solid $serviceGreen;
		@include bp( m ){
			border:none;
		}
		.top{
			color:$serviceGreenColor;
		}
		.title{
			color:$serviceGreenColor;
		}
		li{
			&:before{
				color:$serviceGreenColor;
			}
		}
		.bill{
			border-top:2px solid $serviceGreen;
			color:$serviceGreenColor;
			@include bp( m ){
				border:none;
			}
		}
	}
	.orange{
		border:2px solid $serviceOrange;
		@include bp( m ){
			border:none;
		}
		.top{
			color:$serviceOrangeColor;
		}
		.title{
			color:$serviceOrangeColor;
		}
		li{
			&:before{
				color:$serviceOrangeColor;
			}
		}
		.bill{
			border-top:2px solid $serviceOrange;
			color:$serviceOrangeColor;
			@include bp( m ){
				border:none;
			}
		}
	}
}
/*============== Partners Page ================*/
.partners-wrap{
	padding:35px 0 57px;
	@include bp( m ){
		padding:35px 0 0;
	}
	.section-title{
		font-size:35px;
		line-height:1.1;
		color:$hardGreen;
		margin-bottom:2px;
		text-transform:uppercase;
		@include bp( m ){
			text-align:center;
		}
	}
	.partners{
		border-top:1px solid $green;
		padding-top:39px;
		@include bp( m ){
			padding-top:25px;
		}
		li{
			@include flex();
		    @include justify-content(center);
		    @include bp( m ){
		    	@include flex-wrap(wrap);
		    }
			&:after{
				display:block;
				content:"";
				clear:both;
			}
		}
	}
	.img-wrap, .info{
		@include flex-direction(column);
	    @include justify-content(center);
	    @include align-content(space-around);
	    margin-bottom:49px;
	}
	.img-wrap{
		width:25%;
		padding:0 13px 0;
		@include bp( m ){
	    	padding:0;
	    	margin-bottom:10px;
	    	width:100%;
	    	display:block;
	    	text-align:center;
	    }
		img{
			display:inline-block;
			vertical-align:top;
			max-width:90%;
			margin:0 auto;
			@include bp( m ){
				max-width:100%;
			}
		}
	}
	.info{
		width:75%;
		line-height:26px;
		font-weight:600;
		color:$hardGrey;
		@include bp( m ){
			margin-bottom:45px;
			width:100%;
		}
		.title{
			font-size:22px;
			margin-bottom:13px;
			@include bp( m ){
				text-align:center;
			}
		}
		.sub-title{
			font-size:18px;
			text-decoration:underline;	
			margin-bottom:18px;	
			@include bp( m ){
				text-align:center;
			}
		}
		p{
			font-size:16px;
			font-weight:400;
			margin-bottom:25px;
		}
		a{
			font-size:16px;
			font-weight:400;
			color:#5288f4;
			text-decoration:none;
			@include bp( m ){
				text-align:center;
			}
			&:hover{
				text-decoration:underline;
			}
		}
	}
}
/*============ Contacts page =============*/
.contacts-box{
	float:left;
	width:49%;
	margin-right:1%;
	color:$contactColor;
	@include bp( m ){
		float:none;
		width:100%;
		margin:0;
	}
	.title{
		font-family:"Pf Reg";
		font-size:30px;
		margin-bottom:24px;
		@include bp( m ){
			text-align:center;
		}
	}
}
.contacts-info{
	float:right;
	width:49%;
	margin-left:1%;
	@include bp( m ){
		float:none;
		width:100%;
		margin:0 0 20px;
	}
	.info{
		color:$contactColor;
		font-family:"Pf Reg";
		font-size:24px;
		line-height:38px;
		@include bp( m ){
			display:none;
		}
		&.show-mob{
			@include bp( m ){
				display:block;
			}
		}
		span{
			@include bp( m ){
				display:block;
				text-align:center;
			}
			&.left{
				margin-right:15px;
				@include bp( m ){
					margin:0;
				}
			}
			&.right{
				margin-left:15px;
				position:relative;
				@include bp( m ){
					margin:0;
				}
				&:before{
					position:absolute;
					content:"|";
					display:block;
					left:-16px;
					top:-6px;
					@include bp( m ){
						display:none;
					}
				}
			}
		}
	}
	.map{
		margin:26px 0 15px;
		@include bp( m ){
			display:none;
		}
	}
}
.contact-form{
	padding-bottom:85px;
	position:relative;
	*{
		outline:none;
	}
	.input-wrapper{
		padding:16px 8px 0px;
		position:relative;
		margin-bottom:15px;
		textarea{
		    resize:none;
		    min-height:125px;
		    & ~ .line{
				position:absolute;
				content:"";
				display:block;
				left:8px;
				bottom:0;
				height:2px;
				@include transition($transition);
			}
			&:focus{
				& ~ label{
					top:0px;
					font-size:13px;
					line-height:16px;
					&.error{
						top:100%;
						font-size:13px;
						line-height:16px;
						color:$contactError;
					}
				}
			}
			&.not-empty{
				& ~ label{
					top:0px;
					font-size:13px;
					line-height:16px;
				}
			}
			&.valid{
				& ~ label{
					top:0px;
					font-size:13px;
					line-height:16px;
					color:$contactValid;
				}
				& ~ .line{
					right:8px;
					background:$contactValid;
				}
			}
			&.error{
				& ~ label{
						top:0px;
						font-size:13px;
						line-height:16px;
						color:$contactError;
					&.error{
						top:100%;
						font-size:13px;
						line-height:16px;
						display:none!important;
					}
				}
				& ~ .line{
					right:8px;
					background:$contactError;
				}
			}		
		}
		&.text{
			margin-bottom:31px;
			label{
				top:101px;
				&.error{
					top:100%;
					font-size:13px;
					line-height:16px;
					color:$contactError;
				}
			}
		}
		label{
			position:absolute;
			display:block;
			top:23px;
			left:13px;
			font-size:16px;
			line-height:26px;
			@include transition($transition);
			&.error{
				top:100%;
				font-size:13px;
				line-height:16px;
				color:#ff0000;
			}
		}
		input, textarea{
			display:block;
			width:100%;
			background:$white;
			border:none;
			border-bottom:1px solid $contactColor;
			font:400 16px/26px "Open Sans", Arial, sans-serif;
			height:39px;
			color:$contactform;
			padding:7px 5px 6px;
		}
		input{
			& ~ .line{
				position:absolute;
				content:"";
				display:block;
				left:8px;
				bottom:0;
				height:2px;
				@include transition($transition);
			}
			&:focus{
				& ~ label{
					top:0px;
					font-size:13px;
					line-height:16px;
					&.error{
						top:100%;
						font-size:13px;
						line-height:16px;
						color:$contactError;
					}
				}
			}
			&.error{
				& ~ label{
						top:0px;
						font-size:13px;
						line-height:16px;
						color:$contactError;
					&.error{
						top:100%;
						font-size:13px;
						line-height:16px;
						display:none!important;
					}
				}
				& ~ .line{
					right:8px;
					background:$contactError;
				}
			}
			&.valid{
				& ~ label{
					top:0px;
					font-size:13px;
					line-height:16px;
					color:$contactValid;
				}
				& ~ .line{
					right:8px;
					background:$contactValid;
				}
			}
			&.not-empty{
				& ~ label{
					top:0px;
					font-size:13px;
					line-height:16px;
				}
			}
		}
	}
	.btn-orange{
		font-size:23px;
		line-height:26px;
		padding:10px 26px;
		max-width:192px;
		cursor:pointer;
	}
	.msg{
		display:none;
		position:absolute;
		bottom:0;
		left:0;
		right:0;
		width:310px;
		margin:0 auto;
		padding-left:68px;
		font-weight:600;
		font-size:14px;
		line-height:18px;
		@include bp( xs ){
			width:100%;
		}
		&:before{
			position:absolute;
			top:50%;
		}
		span{
			display:block;
		}
	}
	.success{
		color:$contactValid;
		&:before{
			left:10px;
			margin-top:-23px;
			content:$reb-check;
			color:$contactValid;
			font-size:46px;
			@include rebus();
		}
		&.valid{display:block;}
	}
	.fail{
		color:$contactError;
		&:before{
			left:-6px;
			width:70px;
			height:77px;
			margin-top:-38.5px;
			content:'';
			background:url('#{$imgPath}ops.png') no-repeat;
		}
		&.valid{display:block;}
	}
}
/*============== main slider ===============*/
.main-slider{
	img{
		display:block;
		width:100%;
	}
	.content{
		position:absolute;
		left:0;
		top:0;
		right:0;
		bottom:0;
		color:#fff;
		padding-top:34px;
		padding-bottom:35px;
	}
	.main-slider-title{
		text-transform:uppercase;
		width:65%;
		font:66px/1 'Pf Med', Arial, sans-serif;
	}
	.slick-dots{
		bottom:16px;
		width:50%;
		li{
			button{
				background:$hardGreen;
				&:hover{
		    		background:$white;
	    		}
	    	}
		    &.slick-active{
		    	button{
			    	background:$white;
		    	}
		    }
		}
	}
}

/*================ Responsive =================*/
.responsive{
	padding:13px 0 23px;
	.content{
		@include bp( m ){
			@include flex-direction(column);
		}
	}
	.title-box, .responsive-img{
	    @include flex-direction(column);
	    @include justify-content(center);
	    @include align-content(space-around);
	}
	.title-box{
		width:49%;
		margin-right:1%;
		@include bp( m ){
			order:2;
			width:100%;
			margin:0;
			display:block;

		}
	}
	.title{
		max-width:398px;
		margin:10px auto 0;
		color:$responsiveText;
		font:47px/1.2 "Pf Reg", Arial, sans-serif;
		@include bp( m ){
			font-family:"Pf Light";
			font-size:40px;
		}
		.up{
			text-transform:uppercase;
			@include bp( m ){
				text-align:center;
			}
		}
		.left{
			text-align:left;
			@include bp( m ){
				text-align:center;
			}
		}
		.right{
			text-align:right;
			@include bp( m ){
				text-align:center;
			}
		}
	}
	.responsive-img{
		width:49%;
		margin-left:1%;
		display:block;
		@include bp( m ){
			display:block;
			text-align:center;
			order:1;
			width:100%;
			margin:0 0 20px;
		}
		img{
			display:inline-block;
			vertical-align:top;
		    max-width:100%;
		    @include bp( m ){
		    	margin:0 auto;
		    }
		}
	}
}
/*================ Services Wrap ================*/
.services-wrap{
	background:#fff;
	padding:40px 0 11px;
	@include bp( m ){
		padding:22px 0 3px;
	}
	.content{
		@include bp( m ){
			padding:0;
		}
	}
	.services{
		@include flex-wrap(wrap);
		@include justify-content(center);
		a{
			width:48%;
			margin:0 7px 7px;
			@include flex-direction(column);
		    @include justify-content(center);
		    @include align-content(space-around);
		    padding:18px 12px 23px 118px;
		    position:relative;
		    text-decoration:none;
			@include transition($transition);
			@include bp( m ){
				width:100%;
				margin:0 0 8px;
				padding:11px 15px 22px 30px;
			}
			.hover{
				@include transition($transition);
			}
			&:hover{
				background:$greyBack;
				.title{
					color:$iconHoverColor;
				}
				.hover{
					color:$iconHoverColor;
				}
			}
			.title{
				color:$iconGreenColor;
				text-transform:uppercase;
				font:30px/1.1 "Pf Reg", Arial, sans-serif;
				margin-bottom:10px;
				@include transition($transition);
				@include bp( m ){
					margin:0 0 30px 87px;
				}
			}
			p{
				color:$headerSub;
				font-size:16px;
				line-height:25px;
				@include bp( m ){
					font-size:15px;
				}
			}
			&.cms{
				@include bp( m ){
					order:1;
				}
				.top{
					font-size:53px;
					@include bp( m ){
						font-size:46px;
					}
				}
				.left{
					font-size:30px;
					top:13px;
					left:-14px;
				}	
			}
			&.outsource{
				@include bp( m ){
					order:4;
				}
				.top{
					font-size:36px;
				    top:-17px;
				    left:-59px;
				    @include bp( m ){
				    	font-size:27px;
				    	top:-13px;
				    	left:-46px;
				    }
				}
				.left{
					font-size:74px;
				    @include bp( m ){
				    	font-size:57px;
				    }
				}
			}
			&.e-commerce{
				@include bp( m ){
					order:2;
				}
				.top{
				    font-size:64px;
				    @include bp( m ){
					    font-size:58px;
					    left:2px;
					}
				}
				.left{
				    font-size:28px;
				    left:-51px;
				    top:-24px;
				    @include bp( m ){
					    font-size:26px;
					    left:-45px;
					    top:-21px;
					}
				}
			}
			&.shopify{
				@include bp( m ){
					order:5;
				}
				.top{
				    font-size:63px;
				    left:7px;
				    top:-5px;
				    @include bp( m ){
				    	left:0;
				    	top:-3px;
				    }
				}
			}
			&.custom-web{
				@include bp( m ){
					order:3;
				}
				.top{
				    font-size:54px;
					@include bp( m ){
						font-size:39px;
					}
				}
				.left{
				    font-size:43px;
				    left:-18px;
				    top:21px;
				    @include bp( m ){
						font-size:34px;
					    left:-15px;
					    top:17px;
				    }
				}
			}
			&.web-hosting{
				@include bp( m ){
					order:6;
				}
				.top{
				    font-size:42px;
				    left:-53px;
				    top:-14px;
				    @include bp( m ){
				    	top:-5px;
				    }
				}
				.left{
				    font-size:70px;
				    top:-20px;
				    @include bp( m ){
				    	top:-10px;
				    }
				}
			}
		}
		.ico-font{
			position:absolute;
			display:block;
			content:"";
			top:12px;
			left:18px;
			color:$iconBaseColor;
			@include bp( m ){
				top:6px;
				left:30px;
			}
		}
		.top{
			color:$iconGreenColor;
			position:relative;
		}
		.left{
			position:relative;
		}
	}
}
/*=============== Portfolio main page ==============*/
.portfolio-wrap{
	padding:48px 0 40px;
	@include bp( m ){
		padding:22px 0 32px;
	}
	.content{
		max-width:1336px;
		padding:0;
		@include bp( m ){
			padding:0 6px;
		}
	}
	.h2{
		color:$headerSub;
		font:40px/1.2 "Pf Med", Arial, sans-serif;;
		margin-bottom:42px;
		text-align:center;
		@include bp( m ){
			font-size:35px;
			margin-bottom:19px
		}
	}
	.btn-orange{
		@include bp( m ){
			font-size:22px;
			padding:10px 12px;
		}
	}
}
.port-pop{
	color:$portfolioColor;
	.pop-content{
		margin-bottom:42px;
		padding:65px 65px 0 65px;
		@include bp( m ){
			padding:70px 14px 0;
		}
	}
	.title{
		text-transform:uppercase;
		color:$portfolioTitle;
		font-family:"Pf Reg";
		font-size:35px;
		padding-bottom:2px;
		position:relative;
		margin-bottom:20px;
		@include bp( m ){
			text-align:center;
			margin-bottom:8px;
		}
		&:after{
			position:absolute;
			display:block;
			content:'';
			left:0;
			right:0;
			bottom:0px;
			height:1px;
			background:$portfolioTitle;
		}
	}
	.tech-list{
		.title{
			@include bp( m ){
				margin:0 14px 8px;
			}
		}
	}
	.pop-info{
		.title{
			margin-bottom:27px;
		}
	}
}
.pop-info{
	float:left;
	width:37%;
	margin-right:1%;
	@include bp( m ){
		float:none;
		width:100%;
		margin:0;
	}
	.sub-title{
		font-family:"Pf Med";
		font-size:40px;
		margin-bottom:28px;
		@include bp( m ){
			text-align:center;
		}
	}
	p{
		line-height:26px;
		margin-bottom:30px;
		@include bp( m ){
			margin-bottom:24px;
		}
	}
	.done{
		margin-bottom:45px;
		@include bp( m ){
			margin-bottom:36px;
		}
		li{
			font-size:16px;
			padding-left:18px;
			margin-bottom:17px;
			position:relative;
			&:before{
				position:absolute;
				display:block;
				content:'';
				left:0;
				top:7px;
				width:5px;
				height:6px;
				background:$portfolioTitle;
			}
		}
	}
	.for-desk{
		@include bp( l ){
			display:block;
		}
		@include bp( m ){
			display:none;
		}
	}
}
.port-pop{
	.for-mob{
		@include bp( l ){
			display:none;
		}
		@include bp( m ){
			display: block;
			background:$grey;
			padding:22px 0 7px;
			margin-bottom:42px;
		}
		.title{
			@include bp( m ){
				max-width:230px;
				margin:0 auto 28px;
				color:$portfolioColor;
				text-align:left;
			}
			&:after{
				@include bp( m ){
					display:none;
				}
			}
		}
	}
	.pop-serv-list{
		margin-bottom:15px;
		@include bp( m ){
			max-width:230px;
			margin:0 auto 39px;
		}
		li{
			margin-bottom:17px;
			a{
				color:$portfolioColor;
				font-weight:600;
				text-decoration:none;
				border-bottom:1px dotted $portfolioColor;
				&:hover{
					color:$portfolioHov;
				}
			}
		}
	}
}
.fancybox-lock{
	.fancybox-overlay{
		width:100%!important;
		.fancybox-inner{
			@include bp( m ){
				width:100%!important;
			}
		}
		.fancybox-nav{
			&.fancybox-next{
				right:0;
			}
			&.fancybox-prev{
				left:0;
			}
		}
	}
}
.fancybox-skin.fancybox-skin{
	@include border-radius(0px);
	@include bp( m ){
	    min-width:280px;
	}
	.fancybox-close{
		@include rebus();
		background:none;
		width:30px;
		height:30px;
		top:14px;
		right:35px;
		text-decoration:none;
		font-size:30px;
		color:$portfolioColor;
		&:before{
			content: $reb-close;
		}
	}
}
.fancybox-nav{
	&.fancybox-nav{
	    width:36px;
	    height:34px;
	    top:50%;
	    margin-top:-17px;
	}
	&.fancybox-next{
		right:-50px;
	}
	&.fancybox-prev{
		left:-50px;
	}
}
.pop-slider{
	width:62%;
	float:right;
	@include bp( m ){
		float:none;
		width:100%;
	}
	img{
		margin:0 auto;
		max-width:100%;
	}
	.slick-prev, .slick-next{
		z-index:1;
		width:34px;
    	height:66px;
    	background:rgba(0,0,0,.55);
    	@include transition($transition);
    	&:before{
    		font-size:36px;
    		color:#fff;
    		letter-spacing:-2px;
    		opacity:1;
    		@include rebus();
    	}
    	&:hover{
    		background:#000;
    	}
	}
	.slick-prev{
		left:0;
		@include border-radius(0 8px 8px 0);
		&:before{
			content:$reb-left;
		}
	}
	.slick-next{
		right:0;
		@include border-radius(8px 0 0 8px);
		&:before{
			content:$reb-right;
		}
	}
}
.tech-list{
	padding:0 65px 65px 65px;
	@include bp( m ){
		padding:0 0 38px 0;
	}
	.pop-tech{
		@include flex-wrap(wrap);
		@include justify-content(center);
		border:2px solid $portfolioBorder;
		border-bottom:0px solid $portfolioBorder;
		margin-bottom:46px;
		@include bp( m ){
			margin:0 14px 46px;
		}
		a{
			@include flex-direction(column);
		    @include justify-content(center);
		    @include align-content(space-around);
		    @include align-items(center);
			width:25%;
			border-right:2px solid $portfolioBorder;
			border-bottom:2px solid $portfolioBorder;
			padding:5px 10px;
			position:relative;
			@include bp( m ){
				width:50%;
			}
			&:nth-child(4n){
				border-right:0px solid $portfolioBorder;
			}
			&:nth-child(even){
				@include bp( m ){
					border-right:0px solid $portfolioBorder;
				}
			}	
			&:hover{
				background:$portfolioBorder;
			}
			img{
				display:inline-block;
				vertical-align:top;
				max-width:100%;
			}
		}
	}
}
/*================ Portfolio carusel ================*/
@include bp( l ){
	.min-carusel{
		@include flex();
		@include flex-wrap(wrap);
	    @include justify-content(center);
	    @include align-items(flex-start);
	    margin-bottom:39px;
		& > div{
			width:33%;
			margin:0 1px 2px;
		}
		a{
			display:block;
			position:relative;
			color:$portfolioColor;
			&:hover{
				.min-carusel-hover{
					background:rgba(0,0,0,.4);
					.btn-empty{
						display:block;
					}
				}
			}
			img{
				display:block;
				max-width:100%;
				margin:0 auto;
			}
		}
		.min-carusel-hover{
			display:block;
			position:absolute;
			top:0;
			right:0;
			bottom:0;
			left:0;
			background:rgba(0,0,0,0);
			text-align:center;
			@include transition($transition);
			.btn-empty{
				display:none;
				position:absolute;
			    z-index:2;
			    top:50%;
			    left:50%;
			    max-width:155px;
			    @include transform(translate(-50%, -50%));
				@include transition(all .4s ease-out);
			}
		}
	}
}
@include bp( m ){
	.min-carusel{
    	margin-bottom:55px;
	    .slick-dots{
    	    bottom:-33px;
	    }
		.slick-slide{
			position:relative;
		}
		a{
			display:block;
			&:hover{
				.min-carusel-hover{
					background:rgba(0,0,0,.4);
					text-align:center;
					.btn-empty{
						display:inline-block;
					}
				}
			}
		}
		img{
			width:100%;
			display:block;
			margin:0 auto;
		}
		.min-carusel-hover{
			display:block;
			position:absolute;
			top:0;
			right:0;
			bottom:0;
			left:0;
			background:rgba(0,0,0,0);
			text-align:center;
			@include transition($transition);
			.btn-empty{
				display:none;
				position:absolute;
			    z-index:2;
			    top:50%;
			    left:50%;
			    max-width:155px;
				border-width:2px;
			    @include border-radius(2px);
				@include transform(translate(-50%, -50%));
				@include transition(all .4s ease-out);
			    -webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}
	}
}

/*=========== Testimonial home page ===========*/
.testimon-wrap{
	padding:37px 0 45px;
	@include bp( m ){
		padding:21px 0 72px;
	}
	.content{
		max-width:830px;
		@include bp( m ){
			max-width:100%;
		}
	}
	.testimonial-slider{
	    -webkit-touch-callout:text;
	    -webkit-user-select:text;
	    -khtml-user-select:text;
	    -moz-user-select:text;
	    -ms-user-select:text;
	    user-select:text;
	}
	.slick-dots{
	    bottom:-29px;
    }
	.slick-prev, .slick-next{
		width:58px;
		height:58px;
		z-index:1;
		&:hover{
			width:58px;
			height:58px;
			&:before{
				opacity:1;
				font-size:56px;
			}
		}
		&:before{
		    font-size:42px;
		    opacity:1;
		    color:$testArrow;
		    @include rebus();
		}
	}
	.slick-prev{
	    left:0;
	    &:before{
	    	content:$reb-left;
	    }
	}
	.slick-next{
		right:0;
		&:before{
	    	content:$reb-right;
	    }
	}
	.slick-slide{
		padding:30px 100px 20px;
		@include bp( m ){
			padding:27px 0px 10px;
		}
	}
	.text{
		position:relative;
		text-indent:28px;
		margin-bottom:23px;
		font-style:italic;
		color:$testimText;
		font-size:15px;
		line-height:1.6;
		&:before{
			position:absolute;
			display:block;
			content:'';
			top:-27px;
			left:-24px;
			width:23px;
			height:17px;
			background:url('#{$imgPath}block.png') no-repeat;
			@include bp( m ){
				top:-26px;
				left:0;
			}
		}
	}
	.author{
		margin-bottom:5px;
		color:$testimonAuthor;
		font-style:italic;
		font-size:16px;
		line-height:1.2;
	}
	.position{
		color:$testimonAuthor;
		font-style:italic;
		font-size:15px;
		line-height:1.2;
	}
}

/*=========== FAQ home ===========*/
.faq-wrap{
	padding-bottom:41px;
	@include bp( m ){
		padding-bottom:21px;
	}
	.content{
		max-width:1160px;
		@include bp( m ){
			padding:0 6px;
		}
	}
	.faq-box{
		position:relative;
		@include flex-wrap(wrap);
		@include justify-content(center);
		a{
			@include flex-direction(column);
			@include justify-content(center);
			@include align-content(space-around);
		    width:calc(100% / 3.05);
		    padding:27px 30px 19px;
		    font:30px/38px "Pf Med", Arial, sans-serif;
			color:$faqColorGreen;
			text-align:center;
			text-decoration:none;
			text-transform:uppercase;
			text-shadow:0px 1px 1px rgba(0, 0, 0, 0.55);
			position:relative;
			@include transition($transition);
			@include bp( m ){
				width:100%;
				padding:24px 30px 21px;
				min-height:117px;
			}
			&:after{
				position:absolute;
			    content:"";
			    display:inline-block;
			    width:0;
			    height:0;
			    z-index:1;
			    border-style:solid;
			    @include bp( m ){
			    	display:none;
			    }
			}
			&:nth-child(even){
				color:$faqColorWhite;
			}
			&:hover{
			    text-shadow:0px 3px 2px rgba(0, 0, 0, 0.55);
			}
		}
	}
	.first{
		background:url(../images/faq1.png) no-repeat;
		background-size:cover;
		&:after{
			bottom:-12px;
			left:50%;
			margin-left:-12px;
		    border-width:13px 12px 0 12px;
		    border-color:#dfe3e6 transparent transparent transparent;
		}
	}
	.second{
		background:url(../images/faq2.png) no-repeat;
		background-size:cover;
		&:after{
			left:-12px;
			top:50%;
			margin-top:-12px;
		    border-width:12px 13px 12px 0;
		    border-color:transparent #63BB27 transparent transparent;
		}
	}
	.third{
		background:url(../images/faq3.png) no-repeat;
		background-size:cover;
		&:after{
			left:-12px;
			top:50%;
			margin-top:-12px;
		    border-width:12px 13px 12px 0;
		    border-color:transparent #D7DEE1 transparent transparent;
		}
	}
	.fourth{
		background:url(../images/faq4.png) no-repeat;
		background-size:cover;
		&:after{
			right:-12px;
			top:50%;
			margin-top:-12px;
		    border-width:12px 0 12px 13px;
		    border-color:transparent transparent transparent #63bb27;
		}
	}
	.fifth{
		background:url(../images/faq5.png) no-repeat;
		background-size:cover;
		&:after{
			right:-12px;
			top:50%;
			margin-top:-12px;
		    border-width:12px 0 12px 13px;
		    border-color:transparent transparent transparent #D7DEE1;
		}
	}
	.sixth{
		background:url(../images/faq6.png) no-repeat;
		background-size:cover;
		&:after{
			top:-12px;
			left:50%;
			margin-left:-12px;
		    border-width:0 12px 13px 12px;
		    border-color:transparent transparent #7DC54E transparent;
		}
	}
	.faq-info{
		display:none;
		position:absolute;
		z-index:1;
		top:0;
		left:0;
		bottom:0;
		right:0;
		border:2px solid $faqBtn;
		padding:43px 36px 44px 30px;
		background:#fff;
		@include bp( m ){
			padding:0 0 50px;
		}
		&:hover{
			.title{
				text-shadow:0px 3px 2px rgba(0, 0, 0, 0.55);	
			}
		}
		.title{
			float:left;
			margin:-43px 29px 20px -30px; 
			width:363px;
			height:117px;
			padding:25px 10px 15px;
			font:30px/38px "Pf Med", Arial, sans-serif;
			color:$faqColorWhite;
			text-align:center;
			text-transform:uppercase;
			text-shadow:0px 1px 1px rgba(0, 0, 0, 0.55);
			position:relative;
			background:url('#{$imgPath}faq1h.png') no-repeat;
			background-size:cover;
			@include transition($transition);
			@include bp( m ){
				margin:0 0 30px;
			    width:100%;
			    float:none;
			}
			&:after{
				position:absolute;
			    content:"";
			    display:inline-block;
			    width:0;
			    height:0;
			    z-index:1;
			    border-style:solid;
				bottom:-11px;
				left:50%;
				margin-left:-12px;
			    border-width:13px 12px 0 12px;
			    border-color:#7AC449 transparent transparent transparent;
			}
		}
		p{
			color:#2c2c2d;
			font-size:14px;
			line-height:25px;
			@include bp( m ){
				margin:0 15px;
			}
		}
		.faq-close{
			position:absolute;
			display:block;
			bottom:12px;
			right:38px;
			width:54px;
			height:24px;
			font-size:12px;
			line-height:24px;
			padding:0;
			background:$faqBtn;
			@include border-radius(2px);
			color:#fff;
			text-decoration:none;
			text-align:center;
			text-shadow:none;
			@include bp( m ){
				min-height:24px;
				bottom:10px;
				right:10px;
			}
			i{
				font-size:12px;
				line-height:24px;
			}
			&:hover{
				text-shadow:none;
				background:$faqBtnHover;
			}
			&:after{
				display:none;
			}
		}
	}
}
/*=========== Logos home =============*/
.logos-wrap{
	padding:33px 0 64px;
	@include bp( m ){
		padding:21px 0 46px;
	}
	.content{
		max-width:1356px;
		padding:0;
		@include bp( m ){
			padding:0 15px;
		}
	}
	.logos-box{
		@include flex-wrap(wrap);
		@include justify-content(center);
	    li{
		    width:calc(100% / 7.1);
		    border-bottom:2px solid $logosBorder;
		    border-right:2px solid $logosBorder;
		    position: relative;
		    height:156px;
		    @include bp( m ){
		    	width:calc(100% / 3.1);
		    	height:90px;
		    	border:none;
		    }
		    img{
		    	display:inline-block;
		    	vertical-align:top;
		    	position:absolute;
		    	left:50%;
		    	top:50%;
		    	max-width:100%;
		    	@include transform(translate(-50%, -50%));
			    @media (max-width:1200px) {
			    	max-width:90%;
			    }
		    }
	    }
	    li:nth-child(7n){
	    	border-right:none;
	    }
	    li:nth-last-child(-n+7){
	    	border-bottom:none;
	    }
	}

}

/*=============== Footer ===============*/
.footer{
	@include align-self(flex-end);
	width:100%;
	padding:57px 0 104px;
	text-align:center;
	position:relative;
	background:url('#{$imgPath}footerBg.jpg') no-repeat;
	background-size:cover;
	@include bp( m ){
		padding:15px 0 54px;
	}
	&:before{
		position:absolute;
		display:block;
		content:'';
		top:0;
		right:0;
		bottom:0;
		left:0;
		background:rgba(134, 152, 164, .75);
	}
	.content{
		position:relative;
		z-index:1;
	}
	.title, .sub-title{
		color:$footerText;
		font-family:"Pf Med";
		text-transform:uppercase;
		text-shadow:1px 0px 2px rgba(0, 0, 0, .61);
	}
	.title{
		font-size:60px;
		line-height:68px;
		margin-bottom:3px;
		@include bp( m ){
	    	font-size:48px;
	    	line-height:1;
	    	margin-bottom:18px;
	    }
	}
	.sub-title{
		font-size:30px;
		line-height:1.2;
		margin-bottom:38px;
		@include bp( m ){
	    	font-size:24px;
	    	line-height:29px;
	    	margin-bottom:28px;
	    }
	}
	.btn-orange{
		@include bp( m ){
			padding:4px 12px;
		}
	}
}
.error-page{
	padding:50px 0;
	.content{
		text-align:center;
		@include justify-content(center);
	}
	.error-img{
		/*@include flex-direction(column);*/
		@include justify-content(flex-end);
		@include align-content(space-around);
	}
	.error-info{
		@include flex-direction(column);
		@include justify-content(center);
		@include align-content(space-around);
	}
	.error-img{
		width:40%;
		
		margin-right:1%;
		text-align:right;
		img{
			display:inline-block;
			vertical-align:top;
			max-width:100%;
		}
	}
	.error-info{
		& > *{
			@include flex-direction(column);
			@include justify-content(center);
			@include align-content(space-around);
		}
		width:59%;
		.title{
			color:$hardGreen;
			text-transform:uppercase;
			font-weight:700;
			font-size:90px;
		}
		.sub-title{
			color:$hardGrey;
			font-size:40px;
			margin-bottom:30px;
		}
		.suggestion{
			color:$hardGrey;
			font-size:25px;
			margin-bottom:20px;
			display:block;
			a{
				color:$hardGreen;
				font-size:25px;
				&:hover{
					text-decoration:none;
				}
			}
		}
	}
}